<div class="col-md-6 bg-white div-fix bg-shadow">
<form  [ngFormModel]="postCommentForm" #f="ngForm" (submit)="postComment(f.value)">
    <label>Name:</label><br>
    <input type="text" class="form-control input-sm"
           ngControl="userName"/><br>
    <label>Email:</label><br>
    <input type="email" class="form-control input-sm"
           ngControl="userEmail"/><br>
    <label>Comment:</label><br>
    <input type="text" class="form-control input-sm"
           ngControl="comment"/><br>
    <input type="submit" class="btn btn-success btn-sm"
           value="Post Comment" [disabled]="!postCommentForm.valid"/><br><br>
</form>
</div>
