<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
    <!-- temp fix for pipe filters not working on safari browser-->
    <script src="libs/Intl/Intl.min.js"></script>
    <script src="libs/Intl/locale-data/jsonp/en.js"></script>
</head>
<body>
    <app>Loading..</app>
</body>