<div class="col-md-12 bg-shadow bg-white div-fix">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | ORDER LIST</h6>
    <hr>
    <table class="table" >
        <thead>
        <tr>
            <th>Ordered Items | status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="myOrders">
        <tr *ngFor="let order of myOrders">
            <td *ngIf="order.orders">
                <p *ngFor="let o of order.orders">
                    <span class="text-bold"
                          *ngIf="o.mediaKitDetails.title"
                    >{{o.mediaKitDetails.title}}</span><br>
                    <span class="text-muted"
                          *ngIf="o.mediaKitDetails.categoryTitle"
                    >{{o.mediaKitDetails.categoryTitle}}</span><br>
                    <span class="text-muted"
                          *ngIf="o.size"
                    >Size:&nbsp;{{o.size}}&nbsp;|&nbsp;QTY.&nbsp;{{o.quantity}}</span><br>
                    <span *ngIf="o.status === 0" class="label label-tag-sm label-warning">Waiting</span>
                    <span *ngIf="o.status === 1" class="label label-tag-sm label-success">Approved</span>
                    <span *ngIf="o.status === 2" class="label label-tag-sm  label-danger">Declined</span>
                    <br><br>
                </p>
                <label>Total Items: {{order.orderedItemsCount}}</label>
            </td>
            <td>
                {{order.orderedAt | date:"dd-MMM-yyyy H:mma"}}
            </td>
            <td>
                    <a class="btn btn-sm btn-info"
                       [routerLink]="['/dashboard/media-kit/order-detail',order._id]">
                        <i class="fa fa-eye"></i>
                    </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>