<h6 class="text-muted">Office/Branch List</h6>
<hr>
<div class="col-md-12">
  <br>
    <table class="table" *ngIf="branchList">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Contact</th>
            <!--<th>Created At</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let branch of branchList">

            <td ><b>{{branch.name}}</b></td>
            <td>
                {{branch.address.street}}<br>
                {{branch.address.city}}<br>
                {{branch.address.state}}<br>
                {{branch.address.zipCode}}<br>
            </td>
            <td>
                <b>Phone: </b>{{branch.contact.phone}}<br>
                <b>Fax: </b>{{branch.contact.fax}}<br>
                <b>Email: </b>{{branch.contact.email}}<br>
            </td>
            <!--<td>{{branch.createdAt}}</td>-->
            <td>
                <a class="btn btn-warning btn-sm link"
                   >
                    <i class="fa fa-edit"></i></a>
                <imk-confirm-btn
                        [title]="'Delete branch?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delBranch(branch)"
                ></imk-confirm-btn>

            </td>
        </tr>
        </tbody>
    </table>
</div>