
<div class="col-md-12">
    <img-cropper [image]="imageData" [settings]="cropperSettings"></img-cropper><br>
</div>
<div class="col-md-3">
    <img [src]="imageData.image" (load)="onChange(imageData.image)" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
</div>
<div class="col-md-12 text-right">

    <button class="btn btn-sm btn-info"
            (click)="save()" [disabled]="isUploading">{{status}}</button>
</div>


