<div class="col-md-12">
    <div class="col-md-12 ">
    </div>
    <h6 class="text-muted">General Info</h6>
    <hr>
    <div class="col-md-12 p-a-0" *ngIf="user">
        <div class="col-md-6">
            <label>Username:</label><br>
            <input type="text" class="form-control input-sm"
                   [(ngModel)]="user.username"
                  disabled />
        </div>
        <div class="col-md-6">
            <label>Email Address:</label><br>
            <input type="email"  class="form-control input-sm"
                   [(ngModel)]="user.emails[0].address"
                  disabled/>
        </div>
        <form [ngFormModel]="editUserInfo" #f="ngForm" (submit)="updateGInfo(f.value)">
            <div class="col-md-6">
                <label>First Name:</label><br>
                <input type="text" class="form-control input-sm"
                       [(ngModel)]="user.profile.firstName"
                       ngControl="firstname"/>
            </div>
            <div class="col-md-6">
                <label>Last Name:</label><br>
                <input type="text" class="form-control input-sm"
                       [(ngModel)]="user.profile.lastName"
                       ngControl="lastname"/>
            </div>

            <div class="col-md-6">
                <label>Phone:</label><br>
                <input type="number"  class="form-control input-sm"
                       [(ngModel)]="user.profile.phone"
                       ngControl="phone"/>
            </div>
            <div class="col-md-12">
                <br>
                <input type="submit" value="Update"
                       class="btn btn-sm btn-success"
                        />
            </div>
        </form>
    </div>
    <div class="col-md-12 m-t-md">
    </div>
</div>
