<div id="navbar-top">
<nav class="navbar navbar-light" *ngFor="let user of loggedInUser">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" [routerLink]="['./']"><b *ngIf="loggedInUser"
                                                         class="text-uppercase">{{user.username}}</b></a>
        <ul class="nav navbar-nav">
            <!--<li class="nav-item active" >-->
                <!--<a class="nav-link"-->
                   <!--*ngIf="isSU"-->
                   <!--[routerLink]="['./roles']">Roles</a>-->
            <!--</li>-->
            <li class="nav-item" >
                <a class="nav-link"
                   *ngIf="isSU"
                   [routerLink]="['./groups']">Groups</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isSU || userRoles.role === 'admin'" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item" [routerLink]="['./add-new-user']">Create New User</a>
                    <a class="dropdown-item" [routerLink]="['./user-list']">User List</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isSU || userRoles.products.blog === true">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item"
                       *ngIf="isSU || userRoles.role === 'admin'"
                       [routerLink]="['./create-new-post']">Create New Post</a>
                    <a class="dropdown-item" [routerLink]="['./post-list']">Posts List</a>
                    <a class="dropdown-item" [routerLink]="['./categories']">Category</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isSU || userRoles.products.leads === true">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Leads
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item" [routerLink]="['./contact-message-list']">Contact Messages</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isSU || userRoles.products.mediaKit === true">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Media Kit
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item"
                       [routerLink]="['./media-kit/add-new']"
                       *ngIf="isSU || userRoles.role === 'admin'"
                    >Add New Media Kit</a>
                    <a class="dropdown-item"
                       *ngIf="isSU || userRoles.role === 'admin'"
                       [routerLink]="['./media-kit/new-package']">Create New Package</a>
                    <a class="dropdown-item"
                       *ngIf="isSU || userRoles.role === 'admin'"
                       [routerLink]="['./media-kit/package-list']">Package List</a>
                    <a class="dropdown-item" [routerLink]="['./media-kit/list']">Marketing Collateral (Templates)</a>
                    <a class="dropdown-item"
                       *ngIf="isSU || userRoles.role === 'admin'"
                       [routerLink]="['./media-kit/order-list']">Requests (For Changes)</a>
                    <a class="dropdown-item"
                       *ngIf="isSU || userRoles.role === 'user'"
                       [routerLink]="['./media-kit/user/order-list']">My Orders</a>
                </div>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link">Send Email</a>-->
            <!--</li>-->
        </ul>
        <form class="form-inline pull-right">
            <ul class="nav navbar-nav nav-right" *ngIf="loggedInUser">
                <li class="nav-item"  *ngIf="userRoles.role === 'user'">
                    <a class="nav-link"
                       [routerLink]="['./cart']"><i class="fa fa-shopping-cart" style="font-size: 2rem;"></i></a>
                </li>
                <li class="nav-item dropdown"  >
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Welcome,&nbsp;
                        <span class="text-bold text-success" *ngIf="loggedInUser">{{user.username}}</span>
                        <img src="{{user.profile.profilePic}}"
                             class="img-circle dp"
                             onError="this.src='/img/noAvatar.png'"
                             *ngIf="loggedInUser"
                             alt=""/>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Preview">
                        <a class="dropdown-item" *ngIf="loggedInUser" [routerLink]="['/dashboard/edit-user',user._id]">Edit Profile</a>
                        <a class="dropdown-item" (click)="logOut()">
                           Logout
                        </a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</nav>
</div>