<div class="col-md-offset-1 col-md-10 div-fix bg-shadow bg-white">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | Add New</h6>
    <hr>
    <form [ngFormModel]="mediaKitForm" #f="ngForm" (submit)="addMediaKit(f.value)">
        <div class="col-md-3"  >
            <br>
            <img [src]="mediaKitImage"
                 onError="this.src='/img/imageph.png'"
                 class="img-responsive mk-ph link d-block"
                 data-toggle="modal" data-target="#mediaKitUploadModal"
            />
            <input type="hidden" ngControl="imageUrl" [(ngModel)]="mediaKitImage">
        </div>
        <div class="col-md-9">
            <div class="row">
                <label>Title</label><br>
                <input type="text"
                       ngControl="title"
                       class="form-control input-sm">
            </div>
            <div class="row">
                <label>Description</label><br>
                <textarea type="text"
                          ngControl="description"
                          class="form-control input-sm" rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6 p-a-0">
                    <label>Size</label><br>
                    <input type="text"
                           ngControl="size"
                           class="form-control input-sm">
                </div>
                <div class="col-md-6 p-a-0">
                    <label>Price</label><br>
                    <input type="number"
                           ngControl="price"
                           class="form-control input-sm">
                </div>
                <div class="col-md-12 p-a-0 text-right">
                    <br>
                    <a class="btn btn-sm btn-success"
                            (click)="addSP(f.value.size,f.value.price)"
                    >Add size and price</a>
                </div>
                <div class="col-md-12 p-a-0">
                    <br>
                    <ul class="tags" *ngIf="sizeAndPrice">
                        <li *ngFor="let sp of sizeAndPrice">
                            <span class="label-tag">{{sp.size}}&nbsp;|&nbsp;<b>{{sp.price}}</b>
                                <i class="fa fa-close link" (click)="removeSP(sp)"></i>
                            </span>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="row">
                <label>Category</label><br>
                <select class="form-control input-sm" ngControl="categoryId">
                    <option *ngFor="let category of mediaKitCategories"
                        [value]="category._id">
                        {{category.title}}
                    </option>
                </select>
            </div>
            <div class="row">
                <label>Group:</label><br>
                <div *ngFor="let group of groupList">
                    <label>
                        <input type="checkbox"
                               [checked]="exists(group.title,selectedGroups)"
                               (click)="toggle(group.title, selectedGroups)"/>
                        {{group.title}}</label>
                </div>
            </div>
           <div class="row">
               <br>
               <input type="submit"
                      [disabled]="!mediaKitForm.valid || !sizeAndPrice.length >0"
                      class="btn btn-sm btn-success" value="Add">
           </div>
        </div>

    </form>
</div>


<div class="imageUploadModal modal bd-example-modal-lg fade" id="mediaKitUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" style="height: 700px;overflow: auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#upload" role="tab">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#mediaLibrary" role="tab">Media Library</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upload" role="tabpanel">
                        <upload-image
                                [cwidth]="120"
                                [cheight]="180"
                                [croppedWidth]="120"
                                [croppedHeight]="180"
                                [canvasWidth]="800"
                                [canvasHeight]="450"
                                (croppedImage)="updateImages($event)"
                                (uploadedImageUrl)="updateImages($event)"
                        ></upload-image>
                    </div>
                    <div class="tab-pane" id="mediaLibrary" role="tabpanel">
                        <uploaded-image-list (selectedImageUrl)="updateImages($event)"></uploaded-image-list>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>