<div class="btn-group btn-group-sm">
    <button type="button" class="btn {{btnType}} btn-sm b-r-3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [innerHTML]="btnName">
    </button>
    <div class="dropdown-menu bg-shadow drop-fix">
        <a class="dropdown-item drop-fix">
            <label>{{confirmBtn.title}}</label><br>
            <span class="link btn btn-sm {{btnType}}"
                  (click)="callOk()"
            >{{confirmBtn.yes}}</span>&nbsp;
            <span class="link btn btn-sm btn-default"
                    (click)="callCancel()"
            >{{confirmBtn.no}}</span>
        </a>
    </div>
</div>