<h6 class="text-muted">Edit Profile</h6>
<hr>
<form [ngFormModel]="editProfile" #f="ngForm" (submit)="updateProfile(f.value)">
    <div class="col-md-12">
        <br>
        <h6 class="text-muted">Details</h6>
    </div>
    <div class="col-md-6">
        <label>Licence</label><br>
        <input type="text"
               [(ngModel)]="user.profile.licence"
               ngControl="licence"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>Job Title</label><br>
        <input type="text"
               [(ngModel)]="user.profile.jobTitle"
               ngControl="jobTitle"
               class="form-control input-sm" />
    </div>

    <div class="col-md-12">
        <hr>
        <h6 class="text-muted">Address (Office)</h6>
    </div>
    <div ngControlGroup="addressOffice">
    <div class="col-md-6">
        <label>Street Address</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.office.streetAddress"
               ngControl="street"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>City</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.office.city"
               ngControl="city"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>State</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.office.state"
               ngControl="state"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>Zip Code</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.office.zipcode"
               ngControl="zipCode"
               class="form-control input-sm" />
    </div>
    </div>


    <div class="col-md-12">
        <hr>
        <h6 class="text-muted">Address (Residential)</h6>
    </div>
    <div ngControlGroup="addressResidential">
    <div class="col-md-6">
        <label>Street Address</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.residential.streetAddress"
               ngControl="street"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>City</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.residential.city"
               ngControl="city"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>State</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.residential.state"
               ngControl="state"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>Zip Code</label><br>
        <input type="text"
               [(ngModel)]="user.profile.address.residential.zipcode"
               ngControl="zipCode"
               class="form-control input-sm" />
    </div>
    </div>


    <div class="col-md-12">
        <hr>
        <h6 class="text-muted">Contact</h6>
    </div>
    <div ngControlGroup="contact">
    <div class="col-md-6">
        <label>Phone (Office)</label><br>
        <input type="number"
               [(ngModel)]="user.profile.contact.phoneOffice"
               ngControl="phoneOffice"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>Mobile</label><br>
        <input type="number"
               [(ngModel)]="user.profile.contact.mobile"
               ngControl="mobile"
               class="form-control input-sm" />
    </div>
    <div class="col-md-6">
        <label>Fax</label><br>
        <input type="number"
               [(ngModel)]="user.profile.contact.fax"
               ngControl="fax"
               class="form-control input-sm" />
    </div>
    </div>

    <div class="col-md-12">
        <hr>
        <h6 class="text-muted">Social Links</h6>
    </div>
    <div class="col-md-12" ngControlGroup="socialLinks">
        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Facebook"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.facebook"
                    ngControl="facebook">
        </div>
        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Twitter"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.twitter"
                     ngControl="twitter">
        </div>
        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Linkedin"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.linkedIn"
                    ngControl="linkedIn">
        </div>
        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Google +"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.googlePlus"
                    ngControl="googlePlus">
        </div>
        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Youtube"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.youtube"
                    ngControl="youtube">
        </div>

        <div class="col-md-6 p-a-0">
            <input type="text" placeholder="Pinterest"
            class="form-control input-sm"
                   [(ngModel)]="user.profile.socialLinks.pinterest"
                    ngControl="pinterest">
        </div>

    </div>
    
    <div class="col-md-12">
        <hr>
        <h6 class="text-muted">Bio</h6>
    </div>
    <div class="col-md-12">
        <div id="wysiwyg-userProfile"></div>
    </div>
    <div class="col-md-12">
        <br>
        <input type="submit" class="btn btn-sm btn-success" value="Update Profile" />
    </div>

</form>