@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');
$font-face: 'Lato', sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900');
//$font-face: 'Roboto', sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
//$font-face: 'Open Sans', sans-serif;
$body-font-size: 0.75rem;
$bg-primary: #f3f6f9;