ul.tags{
  margin: 0;
  padding:0;
  li{
    list-style: none;
    padding: 5px 5px 5px 0px;
    display: inline;
    span.label-tag{
      background: #f5f5f5;
      color: #808080;
      padding: 5px;
      border: 1px solid #d8d8d8;
      border-radius: 2px;
      line-height: 2.5;
    }
  }
}