#imk-alert{
  position: fixed;
  bottom: 0;
  right:-15px;
  width:350px;
  height: auto;
  background: rgba(255,255,255,0);
  //border: 1px solid #d8d8d8;
  display: none;
  -webkit-transition: all 0.5s;
  max-height: 90%;
  overflow: auto;
  z-index: 999999;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-right: 25px;
      padding: 10px;
      span{
        &:hover{
          cursor: pointer;
        }
      }
    }

  }
}
