@import 'vars';

body{
  font-family: $font-face;
  font-size: $body-font-size;
  background-color: $bg-primary;
}

.bg-white{
  background-color: #ffffff;
}
.bg-shadow{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.div-fix{
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #e4e5e7;
}
.text-bold{
  font-weight:700;
}
.fnt-light{
  font-weight: 100;
}
label{
  font-weight: 700;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85em;
  border-bottom: 1px solid #d8d8d8;
  padding: 8px;
}
.table tr:nth-child(even){
  background-color: #f2f2f2;
}
.table td {
  padding: 8px;
  line-height: 1.2;
  vertical-align: middle;
  border:none;
}
.p-0{
  padding: 0px !important;
}
.link:hover{
  cursor: pointer;
}
select{
  -webkit-appearance:initial;
}
.profile-pic{
  width:100px;
  height:100px;
}
.user-list-profile-pic{
  height:48px;
  width:48px;
  border-radius: 5px;

}
.d-block{
  display: block;
  margin: auto;
}
.blog-featured-pic{
   width:500px;
   height:250px;
}
.fnt-d{
  font-size: $body-font-size;
}
.btn-default{
  background-color: #d9d9d9;
}
.table th {
  border-top: none;
}
.float-right{
  float:right;
}
.ls-n{
  list-style: none;
}
.links{
  li{
    a{
      color: #929292;
      text-decoration: none;
    }
    &:hover,&:active,&:focus{
      text-decoration: none;
      font-weight: bold;
      color:#000;
    }
    .router-link-active{
      font-weight: bold;
      color:#000;
    }
  }
}

.img-thumb{
  height: 100px;
  width: 100px;
}
.img-thumb-sm{
  height: 48px;
  width: 48px;
}
.v-a-t{
  td{
    vertical-align: top !important;
  }
}
.label-tag{
  padding: 4px 4px;
  border-radius: 2px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.label-tag-sm{
  margin-top: 3px;
  padding: 2px 2px 2px 5px !important;
  font-weight: 900 !important;
  border-radius: 2px;
  line-height: 1.5;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}