ul.mediaKitList{
  margin:0;
  padding: 0;
  li{
    a{
      color:#000;
      &:hover{
        text-decoration: none;
      }
    }
    h6.title{
      font-size: 0.85rem;
      font-weight: bold;
    }
    h6{
      font-size: 0.8rem;
      width: 105px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    img{
      max-width: 128px;
      margin-bottom: 5px;
    }
    display: inline-flex;
    list-style: none;
    margin: 5px;
  }
}
.mk-ph{
  width: 120px;
  height: 150px;
}
.m-title{
  font-size: 0.8rem;
  width: 105px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}