#ml-image-list{
  ul{
    margin:0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin:10px;
      background: #f2f2f2;
      border: 5px solid #f2f2f2;
      text-align: right;
      img{
        height: 150px;
      }
    }
  }
}