#navbar-top{
  .navbar{
    background-color: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
  }
  .navbar-brand{
    font-size: 1em;
    border: .2em solid #5cb85c;
    padding: 1em;
    color: #5cb85c;
    margin-right: 4em;
    letter-spacing: 5px;
  }
  .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 3.5;
    color: #000000;
  }
  .dropdown-item {
    font-weight: 700;
    color: #000000;
    font-size: 0.72em;
    text-transform: uppercase;
  }
  .dropdown-menu {
    padding: 5px 0;
    margin: 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  }
  .nav-right{
    .dropdown-menu{
      left: -7px;
    }
    .dropdown-item{
      text-align: right;
    }
    .dp{
      height:40px;
      width: 40px;
    }
  }
}