<div class="col-md-12 div-fix bg-shadow bg-white">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | LIST</h6>
    <hr>
    <div class="col-md-12">
        <ul *ngIf="mediaKitList" class="mediaKitList">
            <li *ngFor="let media of mediaKitList">
                <a [routerLink]="['/dashboard/media-kit/detail',media._id]">
                    <img [src]="media.image.url" *ngIf="media.image"
                     onError="this.url='/img/imageph.png'"
                     [alt]="media.title"/><br>
                <h6 class="m-a-0" [title]="media.title">{{media.title}}</h6>
                <h6 class="text-muted" *ngIf="media.category">{{media.category.title}}</h6></a>
                <!--<p><i class="fa fa-trash link" (click)="removeMedia(media._id)"></i></p>-->
            </li>
        </ul>
    </div>
</div>