<div class="col-md-12 bg-white div-fix bg-shadow">
    <h6 class="text-uppercase text-bold text-muted">Leads | Contact Message List</h6>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contactList">
            <td>{{contact.userName}}</td>
            <td>{{contact.userEmail}}</td>
            <td>{{contact.userPhone}}</td>
            <td>{{contact.createdAt | date}}</td>
            <td>
                <a class="btn btn-info btn-sm" [routerLink]="['/dashboard/contact-message/',contact._id]">
                    <!--<i class="fa fa-eye"></i>-->View
                </a>
                <imk-confirm-btn
                        [title]="'Delete message?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delMessage(contact._id)"
                ></imk-confirm-btn>
            </td>
        </tr>
        </tbody>

    </table>
</div>