<div class="col-md-12">
    <h6 class="text-muted">Products</h6>
    <hr>
    <div class="col-md-12 p-a-0" *ngIf="orgProducts">
            <ul *ngFor="let pro of orgProducts">
                <li> <button class="btn btn-sm btn-success"
                    (click)="allowAccess(pro)">
                    {{pro.title}}
                    &nbsp;<i class="fa fa-plus"></i>
                    </button>
                </li>
            </ul>
    </div>
    <div class="col-md-12 p-a-0">
        <br>
        <h6 class="text-muted">Selected user has access to:</h6>
        <hr>
    </div>
    <div class="col-md-12 p-a-0" *ngIf="subscribedTo">
        <ul *ngFor="let sp of subscribedTo">
            <li><button class="btn btn-sm btn-success"
                (click)="removeAccess(sp)">
                {{sp.title}}
                &nbsp;<i class="fa fa-minus"></i>
            </button>
            </li>
        </ul>
    </div>

    <div class="col-md-12 p-a-0">
        <hr>
        <h6 class="text-muted">Public api</h6>
        <pre class="alert alert-info" *ngIf="userPublicApiUrl">{{userPublicApiUrl}}</pre>
        <button class="btn btn-sm btn-success"
            (click)="createPublicApi()">Generate public api</button>
        &nbsp;
        <button class="btn btn-sm btn-danger"
            (click)="removePublicApi()">Remove public api</button>
    </div>


</div>