<div class="col-md-12 bg-shadow bg-white div-fix">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | Package List</h6>
    <hr>
    <div class="col-md-12">
        <table class="table" >
            <thead>
            <tr>
                <th>Package Name</th>
                <th>Details</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pl of mkPackageList">
                <td ><b>{{pl.title}}</b></td>
                               <td>
                    <ul class="p-0 m-a-0">
                        <li *ngFor="let p of pl.package">
                            <label>{{p.categoryTitle}}</label>
                            <label>{{p.quantity}}</label>
                        </li>
                    </ul>

                </td>
                <td>{{pl.createdAt | date}}</td>
                <td>
                    <a class="btn btn-info btn-sm">
                       <i class="fa fa-edit"></i>
                    </a>
                    <imk-confirm-btn
                            [title]="'Delete category?'"
                            [ok]="'Yes'"
                            [cancel]="'Cancel'"
                            (okFunc)="delPackage(pl)"
                    ></imk-confirm-btn>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>