<div class="col-md-12 bg-white bg-shadow div-fix">
    <h6 class="text-uppercase text-bold text-muted">User | Edit User</h6>
    <hr>
    <div class="col-md-3">
        <ul class="list ls-n p-a-0 links">
            <li><a [routerLink]="['./change-profile-pic',userId]">Change Profile Pic</a></li>
            <li><a [routerLink]="['./general-info',userId]">General Info</a></li>
            <li><a [routerLink]="['./edit-profile',userId]">Edit Profile</a></li>
            <li><a [routerLink]="['./change-password',userId]">Change Password</a></li>
            <li *ngIf="isSU || userRoles.role === 'admin'"><a [routerLink]="['./add-branch',userId]">Add Office/Branch</a></li>
            <li *ngIf="isSU || userRoles.role === 'admin'"><a [routerLink]="['./branch-list',userId]">Edit|Delete Office/Branch</a></li>
            <li *ngIf="isSU"><a [routerLink]="['./manage-product-subscription',userId]">Manage Product Subscription</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>

</div>