<div class="col-md-12 bg-white div-fix bg-shadow">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categoryList">
            <td>{{category.title}}</td>
            <td>
                <imk-confirm-btn
                        [title]="'Delete category?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delCategory(category._id)"
                ></imk-confirm-btn>
            </td>
        </tr>
        </tbody>
    </table>
</div>