<div class="col-md-12 bg-shadow bg-white div-fix">
    <h6 class="text-uppercase text-bold text-muted" *ngIf="orderDetail">MEDIA KIT | ORDER DETAIL
        <span class="float-right" *ngIf="loggedInUserId !== orderDetail.userId"><a [routerLink]="['/dashboard/media-kit/order-list']"><i class="fa fa-close"></i></a></span>
        <span class="float-right" *ngIf="loggedInUserId === orderDetail.userId"><a [routerLink]="['/dashboard/media-kit/user/order-list']"><i class="fa fa-close"></i></a></span>
    </h6>
    <hr>
    <div class="col-md-12" *ngIf="orderDetail" >
        <table class="table" *ngIf="loggedInUserId !== orderDetail.userId" >
            <thead>
            <tr>
                <th style="width:130px;">Order By</th>
                <th></th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="v-a-t">
            <tr>
                <td>
                    <img [src]="orderDetail.userDetails.profile.profilePicThumb"
                         onError="this.url='/img/imageph.png'"
                         class="img-thumb img-responsive"
                         [alt]="orderDetail.userDetails.username"/><br>
                </td>
                <td>
                    <b>Name: </b>{{orderDetail.userDetails.profile.firstName}}&nbsp;{{orderDetail.userDetails.profile.lastName}}<br>
                    <b>Email: </b>{{orderDetail.userDetails.emails[0].address}}<br>
                    <b>Phone: </b>{{orderDetail.userDetails.profile.phone}}<br>
                    <br>

                </td>
                <td>
                    {{orderDetail.orderedAt | date}}
                </td>
                <td></td>
            </tr>
            </tbody>

        </table>

        <div class="col-md-12 text-center">
            <h6>ORDER DETAILS</h6>
        </div>

        <table class="table" >
            <thead>
            <tr>
                <th>Item</th>
                <th>Requested Changes</th>
                <th>Additional Info</th>
            </tr>
            </thead>
            <tbody class="v-a-t">
            <tr *ngFor="let item of orderDetail.orders">
               <td>
                   <img [src]="item.mediaKitDetails.imageThumb"
                        onError="this.url='/img/imageph.png'"
                        class="img-responsive"
                        [alt]="orderDetail.userDetails.username"/><br>
                   <label class="m-title" [title]="item.mediaKitDetails.title">{{item.mediaKitDetails.title}}</label><br>
                   <p>
                       <span class="text-muted"><b>Category:</b>&nbsp;{{item.mediaKitDetails.categoryTitle}}</span><br>
                       <span class="text-muted"> <b>Size | Price:</b>&nbsp;</span><br>
                       <span *ngFor="let sp of item.mediaKitDetails.sizeAndPrice">
                            {{sp.size}}&nbsp;|&nbsp;${{sp.price}}<br>
                       </span>
                   </p>
               </td>
                <td>
                    {{item.requestedChanges}}
                </td>
                <td>
                    <label class="text-muted">SIZE:</label>&nbsp;{{item.size}}<br><br>
                    <label class="text-muted">QUANTITY:</label>&nbsp;{{item.quantity}}
                    <hr>
                    <label class="text-muted">Print At:</label><br><br>
                    <p *ngIf="item.branchId === 'download'">Download</p>
                    <p *ngIf="item.branchId !== 'download'">
                        <span><b>{{item.branchDetails.name}}</b></span><br>
                        <span>{{item.branchDetails.address.street}}</span><br>
                        <span>{{item.branchDetails.address.city}}</span><br>
                        <span>{{item.branchDetails.address.state}}</span><br>
                        <span>{{item.branchDetails.address.zipCorderDetaile}}</span><br>
                        <span><b>Phone:</b>{{item.branchDetails.contact.phone}}</span><br>
                        <span><b>Email:</b>{{item.branchDetails.contact.email}}</span><br>
                    </p>
                    <hr>
                    <label class="text-muted">Preferred Vendor:</label><br><br>
                    <p *ngIf="item.vendorId === 'any'">Any</p>
                    <p *ngIf="item.vendorId !== 'any'">
                        <img [src]="item.vendorDetails.profile.profilePicThumb"
                        class="img-thumb-sm" alt="img"/><br>
                        <span><b>{{item.vendorDetails.username}}</b></span><br>
                        <span>{{item.vendorDetails.profile.firstName}}&nbsp;{{item.vendorDetails.profile.lastName}}</span><br>
                        <span>{{item.vendorDetails.emails[0].address}}</span><br>
                        <span>{{item.vendorDetails.profile.phone}}</span><br>
                    </p>

                <div class="col-md-12 p-a-0">
                    <p class="text-muted"><b>Status:</b>&nbsp;
                        <span *ngIf="item.status === 0" class="label label-tag-sm label-warning">Waiting</span>
                        <span *ngIf="item.status === 1" class="label label-tag-sm label-success">Approved</span>
                        <span *ngIf="item.status === 2" class="label label-tag-sm  label-danger">Declined</span>
                    </p>
                    <div class="col-md-12 p-a-0" *ngIf="loggedInUserId !== orderDetail.userId">
                        <button class="btn btn-sm btn-success"
                                (click)="approveOrderItem(orderDetail._id,item.mediaKitId)"
                                [disabled]="item.status === 1"
                        >
                            <i class="fa fa-check"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-sm btn-danger"
                                (click)="rejectOrderItem(orderDetail._id,item.mediaKitId)"
                                [disabled]="item.status === 2">
                            <i class="fa fa-ban"></i>
                        </button>
                    </div>

                </div>

                </td>
            </tr>
            </tbody>

        </table>


    </div>
</div>