<div class="col-md-6 bg-white div-fix bg-shadow">
    <form class="form-inline" [ngFormModel]="categoryForm" #f="ngForm" (submit)="createCategory(f.value)">
        <label>Category Name:</label><br>
        <input type="text" class="form-control input-sm"
               ngControl="categoryName"/>
        <input type="submit" class="btn btn-success btn-sm"
               value="Create" [disabled]="!categoryForm.valid"/><br><br>
    </form>
</div>