<div class="col-md-12 bg-white div-fix bg-shadow animated zoomIn">
    <h6 class="text-uppercase text-bold text-muted">BLOG | Post List</h6>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of postList">
            <td>{{post.title}}</td>
            <td>{{post.userId}}</td>
            <td>{{post.createdAt | date}}</td>
            <td>
                <a class="btn btn-warning btn-sm" [routerLink]="['/dashboard/edit-post',post._id]"><i class="fa fa-edit"></i></a>
                <imk-confirm-btn
                        [title]="'Delete post?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delPost(post._id)"
                ></imk-confirm-btn>
                <a class="btn btn-info btn-sm" [routerLink]="['/dashboard/comments',post._id]">Show Comments</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>