<div class="col-md-12 bg-white div-fix bg-shadow animated zoomIn">
    <h6 class="text-uppercase text-bold text-muted">BLOG | {{pageTitle}}</h6>
    <hr>

<div class="col-md-5">
    <form [ngFormModel]="newPostForm" #f="ngForm" (submit)="post(f.value)">
        <label>Title:</label><br>
        <input type="text" class="form-control input-sm" [(ngModel)]="_post.title"
               ngControl="title"/><br>
        <label>Featured Image:</label><br>
        <img [src]="_post.featuredImage"
             onError="this.src='/img/imageph.png'"
             class="img-responsive blog-featured-pic link"
             data-toggle="modal" data-target="#blogImageUploadModal"
        />
        <input type="hidden" class="form-control input-sm" [(ngModel)]="_post.featuredImage"
               ngControl="featuredImage"/><br>
        <input type="hidden" class="form-control input-sm" [(ngModel)]="_post.featuredImageId"
               ngControl="featuredImageId"/><br>

        <label>Tags:</label><br>
        <input type="text"  class="form-control input-sm"
               ngControl="tag"
               #tag [disabled]="!tag"/><br>

        <ul class="tags">
            <li *ngFor="let tag of _tags">
                <span class="label-tag">{{tag}}&nbsp;
                    <i class="fa fa-close link" (click)="removeTag(tag,_tags)"></i>
                </span>
            </li>
        </ul>
        <br>
        <a class="btn btn-success btn-sm" (click)="addTag(tag.value)">Add</a>
        <br>
        <!--<pre>{{_tags | json }}</pre>-->
        <br>
        <label>Category:</label><br>
        <select  class="form-control input-sm" [(ngModel)]="_post.categoryId"
                 ngControl="categoryId">
            <option *ngFor="let category of categoryList"
                    [value]="category._id">{{category.title}}</option>
        </select><br>
        <label>Group:</label><br>
        <div *ngFor="let group of groupList">
            <label>
                <input type="checkbox"
                       [checked]="exists(group.title,selectedGroups)"
                       (click)="toggle(group.title, selectedGroups)"/>
                {{group.title}}</label>
        </div>
        <br>
        <label>Publish:</label>&nbsp;
        <input type="checkbox" ngControl="isPublished"/>
        <br>
        <label>Allow Comments:</label>&nbsp;
        <input type="checkbox" ngControl="allowComments"/>
        <br>
        <label>Featured:</label>&nbsp;
        <input type="checkbox" ngControl="isFeatured"/><br>
        <input type="submit" [value]="btnTitle" class="btn btn-success btn-sm">

    </form>
    <!--[disabled]="!_newPostForm.valid">-->
</div>
<div class="col-md-7">
    <div id="wysiwyg-post"></div>
</div>
</div>

<div class="imageUploadModal modal bd-example-modal-lg fade" id="blogImageUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" style="height: 900px;overflow: auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#upload" role="tab">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#mediaLibrary" role="tab">Media Library</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upload" role="tabpanel">
                        <upload-image [cwidth]="500"
                                      [cheight]="300"
                                      [croppedWidth]="500"
                                      [croppedHeight]="300"
                                      [canvasWidth]="800"
                                      [canvasHeight]="500"
                                      (croppedImage)="_post.featuredImage = $event"
                                      (uploadedImageUrl)="updateImages($event)"></upload-image>
                    </div>
                    <div class="tab-pane" id="mediaLibrary" role="tabpanel">
                        <uploaded-image-list (selectedImageUrl)="updateImages($event)"></uploaded-image-list>
                    </div>

            </div>
        </div>
    </div>
</div>

