<div class="col-md-12 bg-white div-fix bg-shadow">
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groupList">
        <td>{{group.title}}</td>
        <td>
            <imk-confirm-btn
                    [title]="'Delete group?'"
                    [ok]="'Yes'"
                    [cancel]="'Cancel'"
                    (okFunc)="deleteGroup(group._id)"
            ></imk-confirm-btn>
        </td>
    </tr>
    </tbody>
</table>
</div>