<div class="col-md-12 bg-white div-fix bg-shadow" *ngIf="user">
    <div class="col-md-3 text-center">
        <br>
        <img src="{{user.profile.profilePic}}"
             class="img-responsive d-block profile-pic"
             alt=""/><br>
        <h5>{{user.profile.firstName}}&nbsp;{{user.profile.lastName}}</h5>
        <h6>({{user.username}})</h6>
        <h6 class="text-muted">{{user._id}}</h6>
        <hr>
        <div class="col-md-12 p-a-0 text-left">
            <span><i class="fa fa-phone"></i>&nbsp;{{user.profile.phone}}</span><br>
            <span><i class="fa fa-envelope"></i>&nbsp;{{user.profile.email}}</span>
            <hr>
            <h6><b>Social Links</b></h6>
            <span *ngFor="let s of user.profile.socialLinks">
                <a>
                    <i class="fa fa-"></i>{{s | json}}
                </a>
            </span>
        </div>


    </div>
    <div class="col-md-9">
        <div class="col-md-12 text-right">
            <a [routerLink]="['/dashboard/user-list']">
                <li class="fa fa-close link" ></li>
            </a>
        </div>
        <h6 class="text-bold">Bio</h6>
        <p [innerHTML]="user.profile.bio"></p>
    </div>
</div>