<div class="col-md-offset-1 col-md-10 bg-white div-fix bg-shadow animated zoomIn">
    <h6 class="text-uppercase text-bold text-muted">User | Create User</h6>
    <hr>
    <form class="" [ngFormModel]="createUserForm" #f="ngForm" (submit)="createUser(f.value)">
        <div class="col-md-3"  >
            <br>
            <img [src]="userDP"
                 class="img-responsive profile-pic link d-block"
                 data-toggle="modal" data-target="#imageUploadModal"

            />
            <input type="hidden" ngControl="profilePic" [(ngModel)]="userDP"/>
            <input type="hidden" ngControl="profilePicId" [(ngModel)]="userDPId"/>
        </div>
        <div class="col-md-9 p-a-0">
        <div class="col-md-6">
            <label>First Name:</label><br>
            <input type="text" class="form-control input-sm"
                   ngControl="firstname"/>
        </div>
        <div class="col-md-6">
            <label>Last Name:</label><br>
            <input type="text" class="form-control input-sm"
                   ngControl="lastname"/>
        </div>
        <div class="col-md-6">
            <label>Username:</label><br>
            <input type="text" class="form-control input-sm"
                   ngControl="username"/>
        </div>
        <div class="col-md-6">
            <label>Email Address:</label><br>
            <input type="email"  class="form-control input-sm"
                   ngControl="email"/>
        </div>
        <div class="col-md-6">
            <label>Password:</label><br>
            <input type="password"  class="form-control input-sm"
                   ngControl="pwd"/>
        </div>
            <div class="col-md-6">
                <label>Phone:</label><br>
                <input type="number"  class="form-control input-sm"
                       ngControl="phone"/>
            </div>
            <br>

            <div class="col-md-12 p-a-0">
                <div class="col-md-12">
                    <br>
                    <h6 class="text-muted">Define user group & role</h6>
                </div>

                <div class="col-md-5" >
                    <label>Group:</label><br>
                    <select  class="form-control input-sm"
                             ngControl="group">
                        <option *ngFor="let group of groupList"
                                [value]="group.title">{{group.title}}</option>
                    </select>
                </div>
                <div class="col-md-5" >
                    <label>Role:</label><br>
                    <select  class="form-control input-sm"
                             ngControl="role">
                        <option *ngFor="let role of roleList"
                                [value]="role.name">{{role.name}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label><br>
                    <a class="btn btn-sm btn-success-outline"
                        (click)="addRG(f.value.role,f.value.group)">Add</a>
                </div>
                <div class="col-md-12">
                    <br>
                    <ul class="tags" *ngIf="rbac">
                        <li *ngFor="let rg of rbac">
                            <span class="label-tag">{{rg.role}}&nbsp;in&nbsp;<b>{{rg.group}}</b>
                                <i class="fa fa-close link" (click)="removeRG(rg)"></i>
                            </span>
                        </li>
                    </ul>
                    <!--<pre>{{ rbac | json }}</pre>-->
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <label>Choose IMK Products</label>
                <div *ngFor="let product of productList">
                    <label>
                        <input type="checkbox"
                               [checked]="exists(product._id,selectedProducts)"
                               (click)="toggle(product._id, selectedProducts)"/>
                        &nbsp;{{product.title}}
                    </label>
                </div>
                <!--<pre *ngIf="selectedProducts">{{selectedProducts | json}}</pre>-->
            </div>

            <div class="col-md-12">
                <br>
                <label>User Type</label>
                <select class="form-control input-sm" ngControl="type">
                    <option *ngFor="let type of userTypes"
                    [value]="type._id">{{type.title}}</option>
                </select>
            </div>


       <div class="col-md-12">
           <br>
           <input type="submit" value="Create User" class="btn btn-success btn-sm"
                  [disabled]="!createUserForm.valid || rbac.length == 0 || selectedProducts[0] == undefined">

       </div>

        </div>
    </form>
</div>

<div class="imageUploadModal modal bd-example-modal-lg fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" style="height: 700px;overflow: auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#upload" role="tab">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#mediaLibrary" role="tab">Media Library</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upload" role="tabpanel">
                        <upload-image
                                [cwidth]="120"
                                [cheight]="120"
                                [croppedWidth]="120"
                                [croppedHeight]="120"
                                [canvasWidth]="800"
                                [canvasHeight]="450"
                                (croppedImage)="updateImages($event)"
                                (uploadedImageUrl)="updateImages($event)"
                                ></upload-image>
                    </div>
                    <div class="tab-pane" id="mediaLibrary" role="tabpanel">
                       <uploaded-image-list (selectedImageUrl)="updateImages($event)"></uploaded-image-list>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
