<div class="col-md-12 div-fix bg-shadow bg-white">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | DETAIL
    <span class="float-right"><a [routerLink]="['/dashboard/media-kit/list']"><i class="fa fa-close"></i></a></span></h6>
    <hr>
    <div class="col-md-12" *ngIf="mediaKit">
        <div class="col-md-4" >
            <h4></h4>
            <img [src]="mediaKit.image.url"
                 onError="this.src='/img/imageph.png'"
                 class="img-responsive d-block"
            /><br>

        </div>
        <div class="col-md-8">
            <h4 class="m-title" [title]="mediaKit.title">{{mediaKit.title}}</h4>
            <hr>
            <h6 class="text-bold">Description</h6>
            <p class="text-justify">
                {{mediaKit.description}}
            </p>
            <hr>
            <h6 class="text-bold">Size and price:</h6>
                <ul>
                     <li *ngFor="let sp of mediaKit.sizeAndPrice">
                         {{sp.size}}&nbsp;-&nbsp;<b>${{sp.price}}</b>
                     </li>
                </ul>
            <hr>
            <h6 class="text-bold">Category:</h6>
            <p>{{mediaKit.category.title}}</p>
            <hr>
            <h6 class="text-bold">Date:</h6>
            <p>{{mediaKit.addedAt | date}}</p>
            <hr>
            <button class="btn btn-sm btn-danger" (click)="removeMedia(mediaKit._id)" *ngIf="userProfile.userRoles.role !== 'user'">
                Remove Media Kit
            </button>
        </div>

        <div class="col-md-12" *ngIf="userProfile.userRoles.role === 'user'">
            <form [ngFormModel]="addMediaKitForm" #f="ngForm" (submit)="addToCart(f.value)" >
            <br><br>
            <h5>{{orderTitle}}</h5>
            <hr>
            <label>What changes you want us to do for you?</label>
            <textarea class="form-control input-sm" rows="6"
                      ngControl="requestedChanges"
                      [(ngModel)]="orderedMedia.requestedChanges"
            ></textarea>
            <br>
            <div class="col-md-4 p-a-0">
                <label>Pick Size</label><br>
                <select class="form-control input-sm"
                        [(ngModel)]="orderedMedia.size"
                        ngControl="size">
                    <option
                            *ngFor="let sp of mediaKit.sizeAndPrice"
                            [value]="sp.size">

                        {{sp.size}}&nbsp;-&nbsp;<b>${{sp.price}}</b>
                    </option>
                </select>
            </div>
            <div class="col-md-2 p-a-0" >
                <label>Quantity</label><br>
                <input type="text"
                       ngControl="quantity"
                       [(ngModel)]="orderedMedia.quantity"
                       class="input-sm form-control">
            </div>
            <div class="col-md-12 p-a-0" >
                <hr>
                <label>Delivery Type</label><br>
                <h6 class="text-muted" *ngIf="branches">Print At</h6>

                <ul class="branch-ul" *ngIf="branches">
                    <li *ngFor="let b of branches">
                        <label>
                            <input type="radio"
                                   name="branch"
                                   ngControl="branch"
                                   [(ngModel)]="orderedMedia.branch"
                                   [checked]="orderedMedia.branch === b._id"
                                   [value]="b._id">&nbsp;
                            {{b.name}}<br>
                    <span class="fnt-n">{{b.address.street}}<br>
                        {{b.address.city}}, {{b.address.state}}<br>
                        {{b.address.zipCode}}<br>
                    <b>Phone: </b>{{b.contact.phone}}</span>
                        </label>
                    </li>

                </ul>
                <h6 class="text-muted" *ngIf="branches">
                    or
                </h6>
                <label>
                    <input type="radio"
                           name="branch"
                           ngControl="branch"
                           [(ngModel)]="orderedMedia.branch"
                           value="download">&nbsp;
                    Download
                </label>
                <div class="col-md-12 p-a-0">
                    <hr>
                    <label>Preferred vendor</label><br>
                    <ul class="branch-ul" *ngIf="vendors">
                        <li *ngFor="let v of vendors" >

                            <label>
                            <input type="radio" name="vendor"
                                   ngControl="vendor"
                                   [(ngModel)]="orderedMedia.vendor"
                                   [checked]="orderedMedia.vendor === v._id"
                                   [value]="v._id"/>&nbsp;
                            <img [src]="v.profile.profilePicThumb" alt="img" class="tiny"/><br>
                            <span>
                                  {{v.profile.firstName}}&nbsp;{{v.profile.lastName}}
                            </span>
                            <span class="fnt-n" *ngIf="v.profile.address">
                                {{v.profile.address.office.streetAddress}}<br>
                                {{v.profile.address.office.city}}&nbsp;
                                {{v.profile.address.office.state}}<br>
                                {{v.profile.address.office.zipcode}}<br>
                                <b>Phone:</b>&nbsp;{{v.profile.phone}}<br>
                            </span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="vendor"
                                       ngControl="vendor"
                                       [(ngModel)]="orderedMedia.vendor"
                                       value="any"/>&nbsp;
                               Any
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 p-a-0">
                <br>
                <input type="submit" class="btn btn-sm btn-success" [value]="btn">
            </div>
            </form>
        </div>

    </div>

</div>