<div class="col-md-12 bg-white div-fix bg-shadow">
    <h6 class="text-uppercase text-bold text-muted">Leads | Contact Message Details</h6>
    <hr>
    <div *ngFor="let contact of leadContact">
        <table class="table">
            <tr>
                <th>Username</th>
                <td>{{contact.userName}}</td>
            </tr>
            <tr>
                <th>User Email</th>
                <td>{{contact.userEmail}}</td>
            </tr>
            <tr>
                <th>User Phone</th>
                <td>{{contact.userPhone}}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{contact.userMessage}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{contact.createdAt | date}}</td>
            </tr>
        </table>
        <div class="col-md-12 p-a-0 text-left">
            <a class="btn btn-info btn-sm" [routerLink]="['/dashboard/contact-message-list']">
                Go Back
            </a>
            <imk-confirm-btn
                    [title]="'Delete message?'"
                    [ok]="'Yes'"
                    [cancel]="'Cancel'"
                    (okFunc)="delMessage(contact._id)"
            ></imk-confirm-btn>

        </div>
    </div>


</div>