<div class="col-md-12 text-center m-t-lg animated fadeInUp">
    <h1 class="fnt-light" *ngIf="user">
        <img [src]="user.profile.profilePic" class="d-block profile-pic" alt="pic" />
        Welcome to your dashboard, <span>{{user.profile.firstName}}&nbsp;{{user.profile.lastName}}</span>
    </h1>
    <h6 class="fnt-light">
        Please navigate through above list for more options.
    </h6>
</div>