<div id="wrapper" class="p-b-lg">
    <navbar-top></navbar-top>
    <div class="container">
        <div class="m-t-lg"></div>
        <router-outlet></router-outlet>
        <div class="m-b-lg"></div>
    </div>
</div>
<div id="imk-alert"><ul></ul></div>