<div class="container">
    <div class="m-t-lg"></div>
    <div class="col-md-12 text-center">
        <h5 class="text-uppercase text-bold">IMK Platform</h5>
        <span>Please login to continue</span>
        <br><br>
    </div>
    <div class="col-md-offset-4 col-md-4 bg-white bg-shadow div-fix">
        <form [ngFormModel]="loginForm" #f="ngForm" (submit)="login(f.value)">
            <label>User email:</label>
            <input type="text" class="form-control input-sm"
                   placeholder="example@gmail.com"
                    ngControl="email"/>
            <label>Password:</label>
            <input type="password" class="form-control input-sm"
                    placeholder="*****"
                    ngControl="pwd"/>
            <br>
            <div *ngIf="message">
                <span class="text-danger">
                    {{message}}
                </span>
                <br><br>
            </div>
            <input type="submit" class="btn btn-sm btn-success form-control"
                    value="Login" [disabled]="!loginForm.valid">

        </form>
    </div>
    <footer-small></footer-small>
</div>

