<h6 class="text-muted">Change Password</h6>
<hr>
<form [ngFormModel]="userCP" #f="ngForm" (submit)="changePassword(f.value)">
    <label>Current Password:</label><br>
    <input type="password"
           ngControl="oldPwd"
           class="form-control input-sm">

    <label>New Password:</label><br>
    <input type="password"
           ngControl="newPwd"
           class="form-control input-sm">

    <label>Confirm Password:</label><br>
    <input type="password"
           ngControl="cNewPwd"
           class="form-control input-sm">

    <span class="text-danger"
          [hidden]="f.value.newPwd == f.value.cNewPwd">
        Password confirmation failed</span><br><br>
    <input type="submit"
           [disabled]="!userCP.valid || f.value.newPwd != f.value.cNewPwd"
           class="btn btn-sm btn-success"
           value="Change Password">
</form>