<div class="col-md-6 bg-white div-fix bg-shadow">
    <form class="form-inline" [ngFormModel]="roleForm" #f="ngForm" (submit)="createRole(f.value)">
        <label>Role Name:</label><br>
        <input type="text" class="form-control input-sm"
               ngControl="roleName"/>
        <input type="submit" class="btn btn-success btn-sm"
               value="Create" [disabled]="!roleForm.valid"/>
    </form>
</div>