<div class="col-md-12 bg-white div-fix bg-shadow">
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Comment</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Approved</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let comment of commentList">
            <td>{{comment.userName}}</td>
            <td>{{comment.comment}}</td>
            <td>{{comment.userEmail}}</td>
            <td>{{comment.createdAt | date}}</td>
            <td>{{comment.isApproved}}</td>
            <td>
                <button class="btn btn-success btn-sm"
                        [disabled]="comment.isApproved == true"
                        (click)="approveComment(comment._id)">
                    <i class="fa fa-check"></i>
                </button>
                <button class="btn btn-warning btn-sm"
                        [disabled]="comment.isApproved != true"
                        (click)="unApproveComment(comment._id)">
                    <i class="fa fa-ban"></i>
                </button>
                <imk-confirm-btn
                        [title]="'Delete comment?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delComment(comment._id)"
                ></imk-confirm-btn>
            </td>
        </tr>
        </tbody>

    </table>
</div>