<div class="col-md-12 bg-white div-fix bg-shadow">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of roles">
            <td>{{role.name}}</td>
            <td>
                <imk-confirm-btn
                        [title]="'Delete role?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delRole(role.name)"
                ></imk-confirm-btn>
            </td>
        </tr>
        </tbody>
    </table>
</div>