<div class="col-md-12 bg-white bg-shadow div-fix">
    <h6 class="text-uppercase text-bold text-muted">CART</h6>
    <hr>
    <h6 *ngIf="!cartData.length > 0">Cart is Empty</h6>
    <div class="col-md-12" *ngIf="cartData.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Requested Changes</th>
                <th>Additional Details</th>
                <th>Category</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of cartData">
                <td>
                    <img [src]="cart.image" style="height: 150px;"
                         onError="this.url='/img/imageph.png'"
                         [alt]="cart.name"/><br>
                    <label>{{cart.name}}</label>
                </td>
                <td>{{cart.requestedChanges}}</td>
                <td>
                    <b>Print At: </b>
                    <p *ngIf="cart.branch === 'download'">{{cart.branch}}</p>
                    <p *ngIf="cart.branch !== 'download'">
                        {{cart.branchName}}<br>
                       <span *ngIf="cart.branchAddress">{{cart.branchAddress.street}}<br>
                        {{cart.branchAddress.city}}<br>
                        {{cart.branchAddress.state}}<br>
                        {{cart.branchAddress.zipCode}}<br></span>
                    </p>
                    <br>
                    <b>Preferred Vendor:</b>
                    <p *ngIf="cart.vendor === 'any'">{{cart.vendor}}</p>
                    <p *ngIf="cart.vendor !== 'any'">
                        {{cart.vendorName}}<br>
                       <span *ngIf="cart.vendorAddress">{{cart.vendorAddress.streetAddress}}<br>
                        {{cart.vendorAddress.city}}<br>
                        {{cart.vendorAddress.state}}<br>
                        {{cart.vendorAddress.zipCode}}<br></span>
                    </p>
                </td>
                <td>{{cart.category}}</td>
                <td>{{cart.price}}</td>
                <td>{{cart.quantity}}</td>
                <td>
                    <a class="btn btn-info btn-sm"
                        [routerLink]="['/dashboard/media-kit/detail',cart.itemId]">
                        View | Edit
                    </a>
                    <imk-confirm-btn
                            [title]="'Remove item from cart?'"
                            [ok]="'Yes'"
                            [cancel]="'Cancel'"
                            (okFunc)="removeItem(cart)"
                    ></imk-confirm-btn>
                </td>
            </tr>
            </tbody>

        </table>
        <hr>
        <div class="col-md-12 text-right">
            <h2 class="text-bold">${{cartTotal}}</h2>
            <hr>
            <button class="btn btn-sm btn-success"
                    [disabled]="loading"
                    (click)="placeOrder()">{{btn}}</button>
        </div>
    </div>
</div>