<div id="ml-image-list">
   <ul>
       <li *ngFor="let image of imageList">
          <img src="{{image.url}}" class="link" alt=""
                (click)="selectImage(image)"
          /><br><br>
           <imk-confirm-btn
                   [title]="'Delete image, it may be used in somewhere like article/profile etc. Continue?'"
                   [ok]="'Yes'"
                   [cancel]="'Cancel'"
                   (okFunc)="delImage(image._id)"
           ></imk-confirm-btn>


       </li>
   </ul>
</div>