<div class="col-md-12 bg-shadow bg-white div-fix">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | ORDER LIST</h6>
    <hr>
    <table class="table" >
        <thead>
        <tr>
            <th>User</th>
            <th>Details</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="userOrderList">
        <tr  *ngFor="let order of userOrderList">
            <td>
                <img class="user-list-profile-pic"
                     [src]="order.user.profile.profilePicThumb"
                     alt="order.user.username"/><br>
                <label>{{order.user.username}}</label>
            </td>
            <td>
                <b>Name: </b>{{order.user.profile.firstName}}&nbsp;{{order.user.profile.lastName}}<br>
                <b>Email: </b>{{order.user.emails[0].address}}<br>
                <b>Phone: </b>{{order.user.profile.phone}}
            </td>
            <td>
                {{order.orderedAt | date}}
            </td>
            <td>
                <a class="btn btn-info btn-sm"
                [routerLink]="['/dashboard/media-kit/order-detail',order._id]">
                    <!--<i class="fa fa-eye"></i>-->View Order Details
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>