<div class="col-md-12 bg-white bg-shadow div-fix">
    <h6 class="text-uppercase text-bold text-muted">MEDIA KIT | New Package</h6>
    <hr>
    <div class="col-md-8">
        <form [ngFormModel]="newPackageForm" #f="ngForm" (submit)="newPackage(f.value)">
            <div class="col-md-6">
                <label>Package Name</label>
                <input type="text"
                       class="input-sm form-control"
                        ngControl="title">
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-6">
                <label>Category</label><br>
                <select class="form-control input-sm" #category>
                    <option *ngFor="let cat of mediaKitCategories"
                        [value]="cat._id">
                        {{cat.title}}
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Quantity</label><br>
                <input type="number"
                       class="form-control input-sm"
                    #quantity >
            </div>
            <div class="col-md-12 text-right">
                <br>
                <a class="btn btn-sm btn-success-outline"
                    (click)="addToPackage(category.value,quantity.value)">Add to package</a>
            </div>
            <div class="col-md-12" *ngIf="packageDetail.length > 0">
                <br>
                <table class="table" >
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let pd of packageDetail">
                        <td ><b>{{pd.categoryTitle}}</b></td>
                        <td>{{pd.quantity}}</td>
                        <td>
                            <imk-confirm-btn
                                    [title]="'Delete category?'"
                                    [ok]="'Yes'"
                                    [cancel]="'Cancel'"
                                    (okFunc)="delPD(pd)"
                            ></imk-confirm-btn>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-sm btn-success" value="Create Package"/>
            </div>

        </form>
    </div>
</div>