<h6 class="text-muted">New Office/Branch Location</h6>
<hr>
<div class="col-md-12">
    <form [ngFormModel]="newBranchForm" #f="ngForm" (submit)="addBranch(f.value)">
        <div class="col-md-6">
            <label>Location/Branch Name</label><br>
            <input type="text"
                   ngControl="name"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-12">
            <hr>
            <h6 class="text-muted">Address</h6>
        </div>

        <div class="col-md-6">
            <label>Street Address</label><br>
            <input type="text"
                   ngControl="streetAddress"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-6">
            <label>City</label><br>
            <input type="text"
                   ngControl="city"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-6">
            <label>State</label><br>
            <input type="text"
                   ngControl="state"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-6">
            <label>Zip code</label><br>
            <input type="number"
                   ngControl="zipCode"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-12">
            <hr>
            <h6 class="text-muted">Contact</h6>
        </div>
        <div class="col-md-6">
            <label>Phone</label><br>
            <input type="number"
                   ngControl="phone"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-6">
            <label>Fax</label><br>
            <input type="number"
                   ngControl="fax"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-6">
            <label>Email</label><br>
            <input type="email"
                   ngControl="email"
                   class="input-sm form-control" >
        </div>
        <div class="col-md-12">
            <br>
            <input type="submit"
                   [disabled]="!newBranchForm.valid"
                   class="btn btn-sm btn-success"
                   value="Add Location/Branch">
        </div>
    </form>
</div>