<div class="col-md-12 p-a-0">
    <h6 class="text-muted">Update Profile Pic</h6>
    <hr>
    <img [src]="userDP"
         onError="this.src='/img/noAvatar.png'"
         class="img-responsive profile-pic link "
         data-toggle="modal" data-target="#editUserDPModal"
    /><br>
    <button class="btn btn-success btn-sm"
            (click)="updateDP()">Update Profile Pic</button>

</div>


<div class="imageUploadModal modal bd-example-modal-lg fade" id="editUserDPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body" style="height: 700px;overflow: auto">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#upload" role="tab">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#mediaLibrary" role="tab">Media Library</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upload" role="tabpanel">
                        <upload-image
                                [cwidth]="120"
                                [cheight]="120"
                                [croppedWidth]="120"
                                [croppedHeight]="120"
                                [canvasWidth]="800"
                                [canvasHeight]="450"
                                (croppedImage)="updateImages($event)"
                                (uploadedImageUrl)="updateImages($event)"
                        ></upload-image>
                    </div>
                    <div class="tab-pane" id="mediaLibrary" role="tabpanel">
                        <uploaded-image-list (selectedImageUrl)="updateImages($event)"></uploaded-image-list>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>