
<div class="col-md-12 bg-white div-fix bg-shadow animated zoomIn">
    <h6 class="text-uppercase text-bold text-muted">User | User List</h6>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Type</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList" [hidden]="user.username === 'imkadmin'">
            <td>
                <img [src]="user.profile.profilePic"
                     onError="this.src='/img/noAvatar.png'"
                     alt="img" class="user-list-profile-pic"/>
                </td>
            <td ><b>{{user.username}}</b></td>
            <td>{{user.profile.firstName}}&nbsp;{{user.profile.lastName}}</td>
            <td>{{user.profile.userTypeTitle}}</td>
            <td>{{user.createdAt | date}}</td>
            <td>
                <a class="btn btn-warning btn-sm link"
                   [routerLink]="['/dashboard/edit-user/',user._id]">
                    <i class="fa fa-edit"></i></a>
                <imk-confirm-btn
                        [title]="'Delete user?'"
                        [ok]="'Yes'"
                        [cancel]="'Cancel'"
                        (okFunc)="delUser(user._id)"
                ></imk-confirm-btn>
                <!--<a class="btn btn-info btn-sm link"-->
                      <!--[routerLink]="['/dashboard/user',user._id]">-->
                <!--<i class="fa fa-eye"></i></a>-->

            </td>
        </tr>
        </tbody>
    </table>
</div>
