<div class="col-md-6 bg-white div-fix bg-shadow">
<form class="form-inline" [ngFormModel]="groupForm" #f="ngForm" (submit)="createGroup(f.value)">
    <label>Group name:</label><br>
    <input type="text" class="form-control input-sm"
           ngControl="groupName">
    <input type="submit" value="Create" class="btn btn-success btn-sm"
           [disabled]="!groupForm.valid"/>
</form>
</div>